{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="row">
    <div class="col-3">
    <h4>Options Genbank</h4>
        <div class="options">
            <form id='genbank' method="post" enctype="multipart/form-data"> {% csrf_token %}
              <fieldset class="form-group"><br>
                  <legend>Generate gb files</legend>
                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="file">Select a csv with DNA sequence: </label>
                    </div>
                    <div class="col-left">
                        <input type="file" class="form-control-file border" name="myFile">
                    </div>
                    <div class="col-auto"></div>
                </div><br><br>
                <input type="submit" class="btn btn-info btn-block btn-lg" value="Submit">
              </fieldset>
            </form>
            <br><br>
        </div>
      </div>

      <div class="col-6">
        <h4>Create Genbank files from a CSV</h4>
          <p>
              This tool creates genbank files in batch from a list of sequence files. See the example
              <a href="{% static 'docs/get_gbfiles.csv' %}" target="_blank" download><strong> input file </strong></a>
              At the moment the input only reads 3 columns for sequence name, type, and the sequence itself.
              It can be adapted to write annotated genbank files.
              This tool uses <a href="https://biopython.org/">Biopython package</a>.
          </p>

      </div>

      <div class="col-3">
          {% if url %}
            <h4>Output </h4>
            <fieldset class="form-group"><br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <center><label for="inputfile"><strong>Input File:</strong></label></center>
                    </div>
                    <div class="col-auto"></div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                     <div class="col">
                        <center>
                            <label for="inputfile"><a href="{{ url }}" target="_blank" download> <strong> {{ uploadfile_name }} </strong> </a></label>
                        </center>
                    <div class="col-auto"></div>
                </div><br>
            </fieldset><br>

            <fieldset class="form-group"><br>
                {% if outfile %}
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <center><label for="outputfile"><strong>Output File:</strong></label></center>
                    </div>
                    <div class="col-auto"></div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <center>
                            <label for="outputfile"><a href="{{ outfile.file.url }}" target="_blank" download> <strong> {{ outfile.file.name }} </strong> </a></label>
                        </center>
                    </div>
                    <div class="col-auto"></div>
                </div>
                {% endif %}<br>
            </fieldset>
            {% endif %}
      </div>
    </div>
{% endblock%}