{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="col-3">
        <h4>Options</h4>
        <div class="options">

            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
              <fieldset class="form-group"><br>
                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="file">Select a file: </label>
                    </div>
                    <div class="col-left">
                        <input type="file" class="form-control-file border" name="upload_file">
                    </div>
                    <div class="col-auto"></div>
                  </div><br><br>

                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="source-plate">Source Plate Wells:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_well_source" name="num_well_source">
                            <option value="96">96 Wells</option>
                            <option value="384">384 Wells</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                  </div>

                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="destination-plate">Destination Plate Wells:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_well_destination" name="num_well_destination">
                            <option value="96">96 Wells</option>
                            <option value="384">384 Wells</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                  </div>

                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="backbone">Backbone fmol:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="bb_fmol" name="bb_fmol">
                            <option value="80">80 fmol</option>
                            <option value="40">40 fmol</option>
                            <option value="20">20 fmol</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                  </div>

                  <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="part">Part fmol:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="part_fmol" name="part_fmol">
                            <option value="80">80 fmol</option>
                            <option value="40">40 fmol</option>
                            <option value="20">20 fmol</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br><br>
                  </div>
                <input type="submit" class="btn btn-info btn-block" value="Submit">
              </fieldset>
            </form>


            <br><br>
            {% if url %}
            <fieldset>
                Uploaded file: <a href="{{ url }}" target="_blank" ><p>{{ uploadfile_name }}</p></a>
                {% if outfile_name %}
                    <br><br>
                    Output file: <a href="{{ outfile_url }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
                {% endif %}
            </fieldset>
            {% endif %}


        </div>
      </div>

      <div class="col-6">
        <h4>Normalization Script</h4><br>
        {% if alert %}
                    <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <ol>
                        {% for num in alert %}
                            <li>{{ num }} </li>
                        {% endfor %}
                        </ol>
                    </div>
        {% endif %}
        <p> Example of an input file to be normalized (<a href="{% static 'docs/to_be_normalized.csv' %}" target="_blank" download><strong> Example.csv </strong></a>) </p> <br>
            <table class="table table table-hover ">
                <thead>
                  <tr class="table-dark text-dark">
                    <th>Part</th>
                    <th>Type</th>
                    <th>Length</th>
                    <th>ng/uL</th>
                    <th>Vol</th>
                    <th>Source plate</th>
                    <th>Source well</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TU1-5'</td>
                    <td>1</td>
                    <td>556</td>
                    <td>5</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A1</td>
                  </tr>
                  <tr>
                    <td>PSMB gblock</td>
                    <td>2</td>
                    <td>848</td>
                    <td>10</td>
                    <td>10</td>
                    <td>Plate1</td>
                    <td>A3</td>
                  </tr>
                  <tr>
                    <td>pYTK001</td>
                    <td>3</td>
                    <td>2676</td>
                    <td>50</td>
                    <td>10</td>
                    <td>Plate1</td>
                    <td>A4</td>
                  </tr>
                  <tr>
                    <td>TU1-5' gblock</td>
                    <td>4</td>
                    <td>250</td>
                    <td>5</td>
                    <td>10</td>
                    <td>Plate1</td>
                    <td>A5</td>
                  </tr>
                  <tr>
                    <td>TU1-3'</td>
                    <td>5</td>
                    <td>150</td>
                    <td>5</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A6</td>
                  </tr>
                  <tr>
                    <td>PSMB gblock</td>
                    <td>6</td>
                    <td>800</td>
                    <td>10</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A7</td>
                  </tr>
                  <tr>
                    <td>pYTK001</td>
                    <td>7</td>
                    <td>2676</td>
                    <td>50</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A8</td>
                  </tr>
                  <tr>
                    <td>pYTK001</td>
                    <td>8</td>
                    <td>2676</td>
                    <td>245.2</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A9</td>
                  </tr>
                  <tr>
                    <center>
                    <td>pYTK002</td>
                    <td>1</td>
                    <td>1856</td>
                    <td>175.8</td>
                    <td>100</td>
                    <td>Plate1</td>
                    <td>A10</td>
                    </center>
                  </tr>
                </tbody>
            </table>
      </div>

        {% comment %}
        <div class="col-3">
        <h4>Side</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}