biopython==1.73
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
Django==2.2.2
django-unused-media==0.1.13
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
marshmallow==2.15.1
networkx==2.3
numpy==1.16.1
psycopg2==2.8.2
psycopg2-binary==2.8.2
pydent==0.0.35
pytz==2018.9
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
tqdm==4.23.4
urllib3==1.25.3
