{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}

<div class="row">
    <div class="col-4">
        <h4></h4>
    </div>
    <div class="col-4">
        <div class="card" style="padding: 20px 20px 20px 20px">
                <form action= {% url 'login' %} method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

    <div class="col-4">
        <h4></h4>
    </div>

</div>


{% endblock%}