{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}

    <div class="row">
      <div class="col-2">
        <h4>List of Books</h4>
          {% if all_machines %}
          <div class="form-row align-items-center">
            <div class="col">
              <table id="machine_list_table" class="table table-hover table-striped table-sm" cellspacing="0" width="100%">
               <thead>
                <tr class="table-dark text-dark">
                  <th class="th-sm">id</th>
                  <th class="th-sm">name</th>
                </tr>
               </thead>
               <tbody>
               {% for machine in all_machines %}
                <tr>
                  <td> {{ machine.id }} </td>
                  <td> <a href= "{% url 'logbook:book' machine.id %}"> {{ machine.name }} </a></td>
                </tr>
               {% endfor %}
               </tbody>
              </table>
            </div><br>
          </div>
        {% else %}
          <h6> No machines in database </h6>
        {% endif %}
      </div>

      <div class="col-8">
          {% if entry %}
            <div class="info" style="margin: 10px 0px 10px 0px" >
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <h6>Entry: {{ entry.id }} created by: {{ entry.user }}</h6><br>

                {% if user.is_authenticated  %}
                <div class="btn-group" align="left">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_entry"> <i class="fas fa-trash-alt"></i> Delete </button>
                </div>
                {% endif %}
                <div class="btn-group" align="left">
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#update_entry"> <i class="fas fa-edit"></i> Update </button>
                </div>
            </div>

            <!-- Modal button to delete entry in logbook -->
            <div class="modal fade" id="delete_entry" tabindex="-1" role="dialog" aria-labelledby="delete_entryLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delete_entryLabel">Delete Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h6>Are you sure to delete entry {{ entry.id }} created by: {{ entry.user }}?</h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{% url 'logbook:book_entry_delete' machine.id entry.id %}">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal button to update entry in logbook -->
            <div class="modal fade" id="update_entry" tabindex="-1" role="dialog" aria-labelledby="update_entryLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="update_entryLabel">Update Entry: {{ entry.id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form id="form_edit_machine" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ formLogBookUpdate | bootstrap }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name= "submit_update_entry" action="{% url 'logbook:book_entry_update' machine.id entry.id %}" class="btn btn-warning">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}


          {% if machine %}
          <h5> Log Book: {{ machine.name }}
            <div align="left">
                <button type="button" class="btn btn-info" style="float:right" data-toggle="modal" data-target="#add_entry"> <i class="fas fa-plus-circle"></i> Add new entry </button>
            </div>
          </h5><br><br><br>
            <!-- Modal button to add sample -->
                <div class="modal fade" id="add_entry" tabindex="-1" role="dialog" aria-labelledby="add_entryLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="add_entryLabel">Add new entry</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                        <!-- Add entry modal page -->
                        <div class="modal-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="add_entryTab">
                                    <!-- Add samples using a form -->
                                    <form id="form_add_entry" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    {{ formLogBookAdd | bootstrap }}<br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="submit_add_entry" action="{% url 'logbook:book_add' machine.id %}" class="btn btn-info">Add</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

            <!-- Table entry list -->
            <table id="file_list_table" class="table table-hover table-striped table-sm" cellspacing="0" width="100%">
              <thead align="center">
                <tr class="table-dark text-dark">
                    <th>ID</th>
                    <th>User</th>
                    <th>Supervisor</th>
                    <th>Time Used</th>
                    <th>Created at</th>
                    <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                {% for logbook in all_logbook %}
                <tr align="center">
                    <td><a href="{% url 'logbook:book_entry' machine.id logbook.id %}" > {{ logbook.id }} </a></td>
{#                    <td>{{ logbook.id }}</td>#}
                    <td>{{ logbook.user }}</td>
                    <td>{{ logbook.supervisor }}</td>
                    <td>{{ logbook.time_used }}</td>
                    <td>{{ logbook.created_at }}</td>
                    <td>{{ logbook.comments }}</td>
                </tr>
                {%  endfor %}
              </tbody>
            </table>
      {% endif %}
      </div>


      <div class="col-2">
        <h2>
        </h2>
      </div>

    </div>

    <script type="text/javascript">
        $('#file_list_table').DataTable({
            searching: true,
            "scrollX": true,
            "columnDefs": [{type:'date', 'targets':[4]}],
            "order":[[4, "desc"]],
            lengthMenu: [[-1, 10, 50, 100], ["All", 10, 50, 100]],
        });

        $('.dataTables_length').addClass('bs-select');
      </script>

{% endblock%}