{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="row">
    <div class="col-3">
    <h5>Options</h5>
        <div class="options">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                <fieldset class="form-group">
                    <legend><h5>Colony PCR file</h5></legend>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="file">Select a file: </label>
                        </div>
                        <div class="col-left">
                            <input type="file" class="form-control-file border" name="upload_file">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                </fieldset>

                <fieldset class="form-group">
                    <legend>Dispenser</legend>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="machine">Machine: </label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="machine" name="machine">
                                <option value="echo">Echo</option>
                            </select>
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="min_vol">Min Volume(nL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="min_vol" min="1" max="5" step="0.5" value="2.5">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="vol_res">Volume resolution(nL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="vol_resol" min="1" max="10" step="0.5" value="2.5">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="vol_res">Dead Volume (µL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="dead_vol" min="1" max="15" step="0.5" value="13">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                </fieldset>

                <fieldset class="form-group">
                    <legend>Reaction Conditions</legend>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="template_conc">Template vol (µL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="template_conc" min="0.1" max="10" step="0.1" value="0.8">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="primer_f">Primer F (nL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="primer_f" min="1" max="50" step="1" value="40">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="primer_r">Primer R (nL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="primer_r" min="1" max="50" step="1" value="20">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="rest_enz">Phusion polymerase vol (% of tot vol): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="phusion" min="1" max="10" step="0.5" value="1">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="buffer">Buffer 5x vol (% of tot vol): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="buffer" min="1" max="20" step="0.5" value="20">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="lig_enz">dNTPs vol (% of tot vol): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="dntps" min="1" max="20" step="0.5" value="2">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="lig_enz">Total vol (µL): </label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="total_vol" min="10" max="100" step="5" value="50">
                        </div>
                        <div class="col-auto"></div>
                    </div><br>

                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="add_water" name="add_water" value="True" checked>
                                <label class="custom-control-label" for="add_water">Add water in Master Mix</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="mantis_two_chips" name="mantis_two_chips" value="True">
                                <label class="custom-control-label" for="mantis_two_chips">Use Mantis with low/high chips</label>
                            </div>
                         </div>
                        <div class="col-auto"></div>
                    </div><br>
                </fieldset>

                <fieldset class="form-group">
                    <legend>Destination Plate</legend>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col">
                            <label for="num_well">Num Wells: </label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="num_well_destination" name="num_well_destination">
                                <option value="96">96 Wells</option>
                                <option value="384">384 Wells</option>
                            </select>
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>

                        <div class="col">
                            <label for="filled_by">Filled by: </label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="pattern" name="pattern">
                                <option value="0">by row</option>
                                <option selected value="1">by column</option>
                            </select>
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                </fieldset>

            <input type="submit" class="btn btn-info btn-block btn-lg" value="Submit">
{#          </fieldset>#}
            </form>
    </div>
  </div>

  <div class="col-6">
    <h5>Colony PCR Script connected with Database</h5><br>
    {% if alerts %}
        <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <ol>
            {% for alert in alerts %}
                <li>{{ alert }} </li>
            {% endfor %}
            </ol>
        </div>
    {% endif %}
{#  <p> Example of an input file with parts (<a href="{% static 'docs/parts2pcr.txt' %}" target="_blank" download><strong> Example file </strong></a>) </p> <br>#}

  </div>

    <div class="col-3">
        {% if url_file %}
            <h5>Output </h5>
            <fieldset class="form-group">
                <legend>Files</legend>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col-right" >
                        <label for="inputfile">Input file:</label>
                    </div>
                    <div class="col" >
                        <label for="inputfile_url"><a href="{{ url_file }}" target="_blank" >{{ uploadfile_name }}</a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>

            {% if outfile_mantis %}<br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col" >
                        <label for="outputfile">Mantis file:</label>
                    </div>
                    <div class="col" >
                        <label for="outputfile_url"><a href="{{ outfile_mantis.file.url }}" target="_blank" download> {{ outfile_mantis.name }} </a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col" >
                        <label for="inputfile">Echo file:</label>
                    </div>
                    <div class="col" >
                        <label for="inputfile_url"><a href="{{ outfile_robot.file.url }}" target="_blank" download>{{ outfile_robot.name }}</a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>
            {% endif %}
            </fieldset><br>
        {% endif %}

        {%  if mixer_recipe %}
        <fieldset class="form-group">
            <legend>Master Mix Recipe </legend>
            <table class="table">
                <tbody>
                    {% for item in mixer_recipe %}
                        <tr>
                            <td> {{ item.1 }}: </td><td> {{ item.0 }}ul </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <br>
        <fieldset class="form-group">
            <legend> Mantis Configuration </legend>
            <table class="table">
                <tbody>
                    {% for item in chip_mantis %}
                        <tr>
                            <td> {{ item.0 }}: </td><td> {{ item.1 }}ul </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        {% endif %}
    </div>

</div>
{% endblock%}