{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}

<div class="row">

    <div class="col-3">
    <h5>Options</h5>
        <div class="options">
            <form method="post" class="form-group" enctype="multipart/form-data">
                <fieldset>
                    <legend><h5>Input File</h5></legend>
                        <div style="padding: 10px">
                            {% csrf_token %}
                            {{ form_inputfile|bootstrap }}
                        </div>
                </fieldset><br>

                <fieldset>
                    <legend><h5>Plate Filters</h5></legend>
                        <div style="padding: 10px">
                            {% csrf_token %}
                            {{ form_platefilter|bootstrap }}
                        </div>
                </fieldset><br>

                <fieldset>
                    <legend><h5>Dispenser</h5></legend>
                        <div style="padding: 10px">
                            {% csrf_token %}
                            {{ form_dispenser|bootstrap }}
                        </div>
                </fieldset><br>

                <fieldset>
                    <legend><h5>Reaction parameters</h5></legend>
                        <div style="padding: 10px">
                            {% csrf_token %}
                            {{ form_mocloreaction|bootstrap }}
                        </div>
                </fieldset><br>

                <fieldset>
                    <legend><h5>Destination plate options</h5></legend>
                        <div style="padding: 10px">
                            {% csrf_token %}
                            {{ form_destinationplate|bootstrap }}
                        </div>
                </fieldset><br>
            <input type="submit" class="btn btn-info btn-block btn-lg" value="Submit">
            </form>
        </div>
    </div>

    <div class="col-6">
        <h5>MoClo Script connected with Database</h5><br>
            {% if alerts %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <ol>
                            {% for alert in alerts %}
                                <li>{{ alert }} </li>
                            {% endfor %}
                        </ol>
                </div>
            {% endif %}
        <p> MoClo Script uses the output file from Combinatorial Script </p>
        <p> An example of an input file (<a href="{% static 'docs/combination_parts.txt' %}" target="_blank" download><strong> combination_parts.txt </strong></a>).
            All the parts in the input file must exist in the database for the script to work. </p> <br>
    </div>

    <div class="col-3">
        {% if url_file %}
            <h5>Output </h5>
            <fieldset class="form-group">
                <legend><h5>Files</h5></legend>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col-right" >
                        <label for="inputfile">Input file:</label>
                    </div>
                    <div class="col" >
                        <label for="inputfile_url"><a href="{{ url_file }}" target="_blank" >{{ uploadfile_name }}</a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>

            {% if outfile_mantis %}<br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col" >
                        <label for="outputfile">Mantis file:</label>
                    </div>
                    <div class="col" >
                        <label for="outputfile"><a href="{{ outfile_mantis.file.url }}" target="_blank" download> {{ outfile_mantis.name }} </a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col" >
                        <label for="inputfile">Echo file:</label>
                    </div>
                    <div class="col" >
                        <label for="inputfile_url"><a href="{{ outfile_robot.file.url }}" target="_blank" download>{{ outfile_robot.name }}</a></label>
                    </div>
                    <div class="col-auto"></div>
                </div>
            {% endif %}
            </fieldset><br>
        {% endif %}

        {%  if mixer_recipe %}
        <fieldset class="form-group">
            <legend><h5>Master Mix Recipe</h5></legend>
            <table class="table">
                <tbody>
                    {% for item in mixer_recipe %}
                        <tr>
                            <td> {{ item.1 }}: </td><td> {{ item.0 }}ul </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <br>
        <fieldset class="form-group">
            <legend><h5>Mantis Configuration</h5></legend>
            <table class="table">
                <tbody>
                    {% for item in chip_mantis %}
                        <tr>
                            <td> {{ item.0 }}: </td><td> {{ item.1 }}ul </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        {% endif %}
    </div>

</div>
{% endblock%}