{% extends 'base_layout.html' %}


{% block content %}

<div class="row">
    <div class="col-3">
    <h5>Options</h5>
        <div class="options">
            <form method="post"> {% csrf_token %}
              <fieldset class="form-group">
                  <legend> </legend><br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_sources">Number of Source Plate:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_sources" name="num_sources">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                </div><br>


                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_well">Source Plate Wells:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_well" name="num_well">
                            <option value="96">96 Wells</option>
                            <option value="384">384 Wells</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                </div><br>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_pattern">Number of spotting:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_pattern" name="num_pattern">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                </div><br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_pattern">Mode:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="pattern" name="pattern">
                            <option value="0">by row</option>
                            <option value="1">by column</option>
                            <option selected value="2">Biomek</option >
                        </select>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <br>
                <input type="submit" class="btn btn-info btn-block btn-lg" value="Submit">

              </fieldset>
            </form>
        </div>
    </div>

    <br><br>

      <div class="col-6">
        <h5>Spotting Script</h5>
          {% if alert %}
              <div class="alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ alert }}
            </div>
          {% endif %}


        <p> Creates CSV files to be used on biomek</p><br>
            <table class="table table table-hover ">
                <thead>
                    <tr class="table-dark text-dark">
                        <th> Source Plate Name</th>
                        <th> Source Well </th>
                        <th> Destination Plate Name </th>
                        <th> Destination Well </th>
                        <th> Volume </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Plate S1</td>
                        <td> A1 </td>
                        <td> Plate D1 </td>
                        <td> A1 </td>
                        <td> 4 </td>
                    </tr>
                    <tr>
                        <td> Plate S1</td>
                        <td> A2 </td>
                        <td> Plate D1 </td>
                        <td> A2 </td>
                        <td> 4 </td>
                    </tr>
                    <tr>
                        <td> Plate S1</td>
                        <td> A3 </td>
                        <td> Plate D1 </td>
                        <td> A3 </td>
                        <td> 4 </td>
                    </tr>
                </tbody>
            </table>
      </div>


        <div class="col-3">
            {% if worklist %}
                <h5>Output </h5>
                <fieldset class="form-group"><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col" >
                            <label for="outputfile">File:</label>
                        </div>
                         <div class="col" align="left">
                             <a href="{{ outfile.file.url }}" class="btn btn-info btn-block" target="_blank" download> <strong> {{ outfile.name }} </strong> </a></label>
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col" >
                            <label for="worklist">Worklist:</label>
                        </div>
                        <div class="col" align="left">
                            <a href="{{ worklist.file.url }}" class="btn btn-info btn-block" target="_blank" download> <strong> {{ worklist.name }} </strong> </a>
                        </div>
                        <div class="col-auto"></div>
                    </div>
                    <br>
                </fieldset>

            {% else %}
                <h5>Output </h5>
                <fieldset class="form-group"><br>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col" >
                            <label for="outputfile">File:</label>
                        </div>
                         <div class="col" align="left">
                             <a href="{{ outfile.file.url }}" class="btn btn-info btn-block" target="_blank" download> <strong> {{ outfile.name }} </strong> </a></label>
                        </div>
                        <div class="col-auto"></div>
                    </div><br>
                </fieldset>
            {% endif %}
        </div>
    </div>
{% endblock%}