/* Style the header */
.jumbotron {
    background-color: white;
}

.jumbotron img{
    width: 380px;
    height: 140px;
    margin-right: 100px;
    text-align: center;
}

/* for all pages main alert */
.alert {
  padding: 20px;
  background-color: #D00050;
  color: white;
}

.info {
  padding: 10px;
  background-color: #17a2b8;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* Style the body*/
.container-fluid {
    margin: 50px 50px 50px 50px;
}

.card-body  {
    width: 10%;
    margin: 10px 30px 10px 30px;
}

.bigcard img{
  background-color: white;
  text-align:center;
  width: 100%;

}

table{
    /*text-align: center;*/
    border-collapse: collapse;
    width: 100%;
    /*table-layout: fixed;*/
}

th {
  /*padding: 8px;*/
  border-bottom: 1px solid #ddd;
  font-weight: bold;

}

td {
  /*padding: 8px;*/
  border-bottom: 1px solid #ddd;
}


/* left column with functions*/
fieldset {
    background-color:#ddd;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border:1px solid #333;
    border-radius:8px;
    /*max-width:550px;*/
    box-shadow:0 0 10px #666;
    padding: 20px 20px 20px 20px;
}

/*Plates format at Database*/
.circle_full {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 9px;
  color: black;
  line-height: 30px;
  text-align: center;
  background: #004185;
}

.circle_full a{
  color: white;
}

.circle_full a:hover{
  color: yellow;
}

.circle_empty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 9px;
  color: black;
  line-height: 30px;
  text-align: center;
  background: transparent;
}


/* About page */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.footer a {
  color: #333;
  text-align: center;
}

.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}