{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}

<div class="row">
    <div class="col-4">
        <h4></h4>
    </div>

    <div class="col-4">

        <form method="post"> {% csrf_token %}
            <h4>Edit Profile</h4>
                <fieldset class="form-group">
                    <div class="card" style="padding: 20px 20px 20px 20px">
                        {{ form | bootstrap}}
                        <div class="span" style="alignment: center">
                            <button class="btn btn-info" type="submit">Submit</button>
                            <a class="btn btn-secondary" role="button" href="{% url 'accounts:change_password' %}">Change password</a>
                        </div>
                    </div>
                </fieldset>
        </form>

    </div>

    <div class="col-4">
        <h4></h4>
    </div>

</div>


{% endblock%}