{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="row">
      <div class="col-4">
        <h4></h4>
      </div>

      <div class="col-4">
          <form method="post"> {% csrf_token %}
            <h4>Reset Password</h4>
            <fieldset class="form-group">
                <div class="card" style="padding: 20px 20px 20px 20px">
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    {{ form }}
                    <br>
                <button class="btn btn-secondary" type="submit">Request Password Reset</button>
                </div>
            </fieldset>
          </form>
      </div>

      <div class="col-4">
        <h4></h4>
      </div>
    </div>
{% endblock%}