{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="row">
      <div class="col-3">
        <h4></h4>
      </div>

      <div class="col-6">
          <form class="site-form" name="password" action="{% url 'accounts:password' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
      </div>

      <div class="col-3">
        <h4></h4>
      </div>
    </div>
{% endblock%}