{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="row">
      <div class="col-4">
        <h4></h4>
      </div>

      <div class="col-4">
          <h4>Create New User</h4>
            <form method="post"> {% csrf_token %}
                <fieldset class="form-group">
                    <div class="card" style="padding: 20px 20px 20px 20px">
                        {{ form }}
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
      </div>

      <div class="col-4">
        <h4></h4>
      </div>
    </div>
{% endblock%}