{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}


    <div class="row">

      <div class="col-2">
        <!-- Modal button to add experiment -->
        <div>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_experiment"> <i class="fas fa-plus-circle"></i> New Experiment </button><br><br>
        </div>
        <!-- Modal to add Experiment -->
        <div class="modal fade" id="add_experiment" tabindex="-1" role="dialog" aria-labelledby="add_experimentLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add_experimentLabel">New Experiment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- Add Experiment modal page -->
              <div class="modal-body">
                <div role="tabpanel">
                <!-- Tab list to add Experiment -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation" ><a class="nav-link active" href="#add_experimentTab" aria-controls="add_experimentTab" role="tab" data-toggle="tab">Add Experiment Form</a></li>
{#                    <li class="nav-item" role="presentation"><a class="nav-link" href="#file_experimentTab" aria-controls="file_experimentTab" role="tab" data-toggle="tab">Add Experiment File</a></li>#}
                </ul><br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="add_experimentTab">
                        <!-- Add experiment using a form -->
                        <form id="form_add_experiment" method="post" enctype="multipart/form-data">{% csrf_token %}
                            {{ form_experiment_add | bootstrap }}<br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name="submit_add_experiment" action="{% url 'design:experiment_add' %}" class="btn btn-info">Add</button>
                        </div>
                        </form>
                    </div>
{#                    <div role="tabpanel" class="tab-pane" id="file_experimentTab">#}
                        <!-- Add experiment using a file -->
{#                        <form id="form_submit_file" method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#                        <div class="form-row align-items-center"><br><br>#}
{#                            <div class="col-auto"></div>#}
{#                            <div class="col">#}
{#                                <input type="file" class="form-control-file border" name="upload_file_plate">#}
{#                            </div>#}
{#                            <div class="col-auto"></div>#}
{#                        </div><br>#}
{#                        <div class="modal-footer">#}
{#                            <a class="btn btn-secondary mr-auto" href="{% static 'docs/import_sample_file.csv' %}" target="_blank" download> Sample File </a>#}
{#                            <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>#}
{#                            <button type="submit" name="upload_file_samples" action="{% url 'design:experiment_add' %}" class="btn btn-info">Add</button>#}
{#                        </div>#}
{#                        </form>#}
{#                    </div>#}
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8">
{#      {% if all_experiments.count > 0 %}#}
        <table id="sample_list_table" class="table table-hover table-striped table-sm cell-border" cellspacing="0" width="100%">
          <thead>
            <tr class="table-dark text-dark">
            <th class="th-sm">Name</th>
            <th class="th-sm">Project</th>
            <th class="th-sm">Author</th>
            <th class="th-sm">Workflow</th>
            <th class="th-sm">Created at</th>
            <th class="th-sm">Updated at</th>
            <th class="th-sm">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for experiment in all_experiments %}
                <tr>
                <td><a href="{% url 'design:experiment_view' experiment.id %}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;"> {{ experiment.name }} </a> </td>
                <td>{% for project in experiment.project.all %}
                    {{ project }}
                    {% endfor %}
                </td>
                <td>{{ experiment.author }} </td>

                <td>{% for step in all_steps %}
                    {% if step.experiment.id == experiment.id %}
                        {{ step }}<br>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ experiment.created_at }} </td>
                <td>{{ experiment.updated_at }} </td>
                <td>{{ experiment.status }} </td>
                </tr>

          {% endfor %}
          </tbody>
        </table>

{#      {% endif %}#}
      <script type="text/javascript">
        $('#sample_list_table').DataTable({
            {#searching: false,#}
            "order":[[1, "desc"]]
        });

        $('.dataTables_length').addClass('bs-select');
      </script>
      </div>

      <div class="col-2">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}