{% extends 'base_layout.html' %}
{% load bootstrap %}

{% block content %}

    <div class="row">
    <div class="col-3">
    <h5>Options</h5>
        <div class="options">
            <fieldset class="form-group">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row align-items-center">

                    <a class="btn btn-info btn-block" data-toggle="collapse" href="#collapse_sample">Add Samples</a>
                    <div class="collapse" id="collapse_sample">
                        <div class="form-row align-items-center"><br><br>
                            <div class="col-auto"></div>
                            <div class="col">
                                <input type="file" class="form-control-file border" name="upload_file_samples">
                            </div>
                            <div class="col-right">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fas fa-file-import"></i> Update
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
              </form>

              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row align-items-center">
                    <a class="btn btn-info btn-block" data-toggle="collapse" href="#collapse_plate" >Add Plates</a>
                    <div class="collapse" id="collapse_plate">
                        <div class="form-row align-items-center"><br><br>
                            <div class="col-auto"></div>
                            <div class="col">
                                <input type="file" class="form-control-file border" name="upload_file_plates">
                            </div>
                            <div class="col-right">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fas fa-file-import"></i> Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </fieldset>
        </div>
    </div>

    <br><br>
      <div class="col-6">

        <div class="collapse" id="collapse_sample">
            <fieldset class="form-group" style="padding: 20px 20px 20px 20px">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_sample | bootstrap }}
                    <button type="submit" class="btn btn-info">Add sample</button>
                </form>
            </fieldset>
        </div>

        <div class="collapse" id="collapse_plate">
            <fieldset class="form-group" style="padding: 20px 20px 20px 20px">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_plate | bootstrap }}
                    <button type="submit" class="btn btn-info">Add sample</button>
                </form>
            </fieldset>
        </div>


      </div>
      <div class="col-3">


      </div>
    </div>



{% endblock%}