{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
        <div class="row">
            <div class="column">
                <h4> Temporary created files </h4><br>
                <table class="table table table-hover">
                      <thead align="center">
                        <tr class="table-dark text-dark">
                        <th>Name</th>
                        <th>Script</th>
                        <th>Created by</th>
                        <th>Created at</th>
                        <th>File</th>
                        <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for file in files %}
                            <tr align="center">
                            <td>{{ file.name }}</td>
                            <td>{{ file.script }}</td>
                            <td>{{ file.author }}</td>
                            <td>{{ file.created_at }}</td>
                            <td>
                                <a href="{{ file.file.url }}" class="btn btn-info btn-block" target="_blank">Download File</a>
                            </td>
                            <td>
                                <form method="POST" action="{% url 'db:delete_file' file.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-block">X</button>
                                </form>
                            </td>
                            </tr>
                        {%  endfor %}

                      </tbody>
                </table>
            </div>
        </div>
      </div>

      <div class="col-3">
        <h2></h2>
      </div>
    </div>
{% endblock%}