{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
        <div class="row">
            <div class="column">
                <table class="table table table-hover">
                      <thead>
                        <tr class="table-dark text-dark">
                        <th>Name</th>
                        <th>Script</th>
                        <th>Created by</th>
                        <th>File</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        {% for file in files %}
                            <td>{{ file.name }}</td>
                            <td>{{ file.script }}</td>
                            <td>{{ file.author }}</td>
                            <td>
                                <a href="{{ file.file.url }}" class="btn btn-info btn-block" target="_blank">Download File</a>
                            </td>

                        {%  endfor %}
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
      </div>

      <div class="col-3">
        <h2></h2>
      </div>
    </div>
{% endblock%}