{% extends 'base_layout.html' %}

{% block content %}

    <br>

    <div class="row">
      <div class="col-3">
          <h2>List of Plates</h2><br>
          <div class="search-label-icon"> search </div>
            {% if all_plates %}
            <nav>
                <ul>
                    {% for plate in all_plates %}
                        <h3><a href="{% url 'db:plate' plate.id %}"> {{ plate.id }}: {{ plate.name }}</a></h3><br>
                    {% endfor %}
                </ul>
            </nav>
            {% else %}
                <h3> No plates in database </h3>
            {% endif %}

      </div>

      <div class="col-6">
        {% if plate %}
            <h2>{{ plate }}</h2> <br>
            <table>
                <tr>
                    <th></th>
                    {% for colname in colnames %}
                        <th> {{ colname }}</th>
                    {% endfor %}
                </tr>
                {% for rowname, row in layout %}
                    <tr>
                    <th> {{ rowname }}</th>
                    {% for col in row %}
                        {% for well in wells %}
                            {% if col == well.name %}
                                <td>
{#                                    <a href="{% url 'db:well' plate.id well.id %}"> {{ well.name }} </a>#}
                                    <div class="circle_full"> <a href="{% url 'db:well' plate.id well.id %}"> {{ well.name }} </a> </div>
                                </td>
                            {% else %}
                                <td>
{#                                    {{ col }}#}
                                    <div class="circle_empty"> {{ col }} </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                 </tr>
                {% endfor %}
            </table>

{#            <div class="footer">#}
{#                <div class="pagination">#}
{#                  <a href="#">&laquo;</a>#}
{#                  <a href="#">Well </a>#}
{#                  <a href="#">Sample</a>#}
{#                  <a href="#">Volume</a>#}
{#                  <a href="#">Concentration</a>#}
{#                  <a href="#">&raquo;</a>#}
{#                </div>#}
{#            </div>#}

        {% endif %}

      </div>

      <div class="col-3">
          {% if well %}

            <h2>List of Samples in: <bold>{{ well.name }}</bold> </h2><br>
            <nav>
                <ul>

                    {% for sample in well.samples.all %}
                        <h3><a href="{% url 'db:well' plate.id well.id %}"> {{ sample.id }}: {{ sample.name }}</a></h3{r>
{#                        <h3> {{ sample.id }}: {{ sample.name }}</h3><br>#}
                    {% endfor %}
                    <h3>Volume: {{ well.volume }}</h3><br>
                    <h3>Concentration: {{ well.concentration}}</h3><br>


                </ul>
            </nav>
            {% endif %}
      </div>

    </div>



{% endblock%}