{% extends 'base_layout.html' %}


{% block content %}

    <div class="row">
      <div class="col-3">
          <h2>List of Plates</h2><br>
            {% if all_plates %}
              <fieldset class="form-group overflow-auto">
                {% for plate in all_plates %}
                  <div class="form-row align-items-center">
                      <div class="col">
{#                        <a class="nav-link" href="{% url 'db:plate' plate.id %}"> {{ plate.id }}: {{ plate.name }}</a>#}
                        <a class="btn btn-info btn-block" href="{% url 'db:plate' plate.id %}"> {{ plate.id }}: {{ plate.name }}</a>
                      </div><br>
                {% endfor %}
                </div>
              </fieldset>
            {% else %}
                <h3> No plates in database </h3>
            {% endif %}

      </div>

      <div class="col-6">
        {% if plate %}
            <h2>{{ plate }}</h2> <br>
            <table>
                <tr>
                    <th></th>
                    {% for colname in colnames %}
                        <th> {{ colname }}</th>
                    {% endfor %}
                </tr>

                {% for rowname, fill in layout %}
                    <tr>
                    <th> {{ rowname }}</th>
                    {% for col in fill %}
                        {% if col.1 == '' %}
                            <td>
                                 <div class="circle_empty"> {{ col.0 }} </div>
                            </td>

                        {% else %}
                            <td>
                                <div class="circle_full"> <a href="{% url 'db:well' col.1 col.2 %}"> {{ col.0 }} </a> </div>
{#                                <div class="circle_empty"> {{ col.1 }} </div>#}
                            </td>
                        {% endif %}
                    {% endfor %}
                 </tr>
                {% endfor %}
            </table>
        {% endif %}

      </div>

      <div class="col-3">
          {% if well %}
            <h2>List of Samples in: <span class="badge badge-pill badge-info">{{ well.name }}</span> </h2><br>
             <ul class="nav flex-column">
                  <fieldset class="form-group overflow-auto">
                    {% for sample in well.samples.all %}
                        <a class="btn btn-info btn-block"
                        data-toggle="collapse" href="#collapse" >{{ sample.id }}: {{ sample.name }}</a>
                        <div class="collapse" id="collapse">
                            <table class="table table-hover ">
                                <tr>
                                    <th>Lenght</th>
                                    <td>{{ sample.length }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ sample.type }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                  </fieldset>
                  <fieldset class="form-group overflow-auto">
                    <table class="table table-hover">
                        <tr>
                            <th>Volume</th>
                            <td>{{ well.volume }}</td>
                        </tr>
                        <tr>
                            <th>Concentration</th>
                            <td> {{ well.concentration }}</td>
                        </tr>
                    </table>
                  </fieldset>
             </ul>
          {% endif %}
      </div>
    </div>





{% endblock%}