{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block content %}

    <div class="row">
      <div class="col-2">
      <!-- Form for search plates in database -->
{#      <h5>Search Machines</h5>#}
{#          <fieldset class="form-group" style="padding: 20px 20px 20px 20px">#}
{#            <form method="GET">#}
{#                {{ filter.form | bootstrap }}#}
{#                <button class="btn btn-info btn-block" type="submit">#}
{#                    <i class="fas fa-search" ></i> Search#}
{#                </button>#}
{#            </form>#}
{#          </fieldset><br>#}
          <!-- Modal button to add machine on inventory -->
          <button type="button" class="btn btn-info" style="float:right" data-toggle="modal" data-target="#add_machine"> <i class="fas fa-plus-circle"></i> Add machine </button>
          <div class="modal fade" id="add_machine" tabindex="-1" role="dialog" aria-labelledby="add_machineLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="add_machineLabel">Add Machine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <form id="form_machine" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">
                            {{ form_machine_add | bootstrap }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name="submit_machine_add" action="{% url 'db:machine_add' %}" class="btn btn-info">Add</button>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
      </div>


      <div class="col-10">
            {% if machine %}
                <div class="info" style="margin: 10px 0px 10px 0px" >
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <h5>Project: {{ machine.name }}</h5>

                    <div class="btn-group" align="left">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_machine"> <i class="fas fa-trash-alt"></i> Delete </button>
                    </div>
                    <div class="btn-group" align="left">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#update_machine"> <i class="fas fa-edit"></i> Update </button>
                    </div>
                </div>

                <!-- Modal button to delete machine -->
                <div class="modal fade" id="delete_machine" tabindex="-1" role="dialog" aria-labelledby="delete_machineLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="delete_machineLabel">Delete Machine</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <h6>Are you sure to delete {{ machine.name }} ?</h6>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form method="POST" action="{% url 'db:machine_delete' machine.id %}">{% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>

                <!-- Modal button to update machine -->
                <div class="modal fade" id="update_machine" tabindex="-1" role="dialog" aria-labelledby="update_machineLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="update_machineLabel">Update Machine: {{ machine.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form id="form_edit_machine" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ form_machine_update | bootstrap }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" name= "submit_update_machine" action="{% url 'db:machine_update' machine.id %}" class="btn btn-warning">Update</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
            {% endif %}


            <!-- Table with list of machine on inventory -->
            {% if all_machines %}
              <div class="form-row align-items-center">
                <div class="col">
                  <table id="machine_list_table" class="table table-hover table-striped table-sm" cellspacing="0" width="100%">
                   <thead>
                    <tr class="table-dark text-dark">
                      <th class="th-sm">id</th>
                      <th class="th-sm">name</th>
                      <th class="th-sm">author</th>
                      <th class="th-sm">status</th>
                      <th class="th-sm">comments</th>
                      <th class="th-sm">created at</th>
                    </tr>
                   </thead>
                   <tbody>
                   {% for machine in all_machines %}
                    <tr>
                      <td> {{ machine.id }} </td>
                      <td><a href="{% url 'db:machine' machine.id %}" > {{ machine.name }} </a></td>
                      <td> {{ machine.author }} </td>
                      <td> {{ machine.status }} </td>
                      <td> {{ machine.comments }} </td>
                      <td> {{ machine.created_at }} </td>
                    </tr>
                   {% endfor %}
                   </tbody>
                  </table>
                </div><br>
              </div>
            {% else %}
              <h6> No machines in database </h6>
            {% endif %}
      </div>

        <!-- Script to use datatables -->
        <script type="text/javascript">
        $('#machine_list_table').DataTable({
            searching: true,
            columnDefs: [{ targets: -1, className: 't-body-center'}],
            "scrollX": true,
            lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
        });

        $('.dataTables_length').addClass('bs-select');
        </script>

    </div>





{% endblock%}