{% extends 'base_layout.html' %}
{% load bootstrap %}


{% block content %}

    <div class="row">
      <div class="col-3">
          <h4>Search Samples</h4>
              <fieldset class="form-group" style="padding: 20px 20px 20px 20px">
                <form method="GET">
                    {{ filter.form | bootstrap}}
                    <button class="btn btn-info btn-block" type="submit">
                        <i class="fas fa-search" ></i> Search
                    </button>
                </form>
              </fieldset>
      </div>

      <div class="col-6">
        <font size="2">
         <table class="table table table-hover">
              <thead>
                <tr class="table-dark text-dark">
                <th>Name</th>
                <th>Alias</th>
                <th>Type</th>
                <th>Description</th>
                <th>Project</th>
                <th>Author</th>
                <th>Length</th>
                <th>Genbank</th>
                <th>Reference</th>
                <th>Comments</th>
{#                <th>Parent</th>#}
                <th>Organism</th>
                <th>Specie</th>
{#                <th>Marker</th>#}
{#                <th>Application</th>#}
{#                <th>Strategy</th>#}
{#                <th>Seq verified</th>#}
{#                <th>Origin</th>#}
{#                <th>Cloning System</th>#}
{#                <th>Strand</th>#}
{#                <th>Order_number</th>#}
{#                <th>Part Type</th>#}
{#                <th>Moclo Type</th>#}
{#                <th>Samples</th>#}
{#                <th>End</th>#}
{#                <th>Direction</th>#}
{#                <th>TM</th>#}
                <th>Active</th>
                <th>Status</th>
                <th>Created at</th>


                </tr>
              </thead>
              <tbody>
                  {% for sample in filter.qs %}
                    <tr>
                        <td><a href="{% url 'db:sample' sample.id %}"> {{ sample.name }}</a></td>
                        <td>{{ sample.alias }}</td>
                        <td>{{ sample.sample_type }}</td>
                        <td>{{ sample.description }}</td>
                        <td>{{ sample.project }}</td>
                        <td>{{ sample.author }}</td>
                        <td>{{ sample.length }}</td>
                        {% if sample.genbank %}
                            <td><a href="{{ sample.genbank.url }}" class="btn btn-info btn-sm" target="_blank">File</a></td>
                            {% else %} <td> {{ sample.genbank }} </td>
                        {% endif %}
                        <td>{{ sample.reference }}</td>
                        <td>{{ sample.comments }}</td>
                        <td>{{ sample.organism }}</td>
                        <td>{{ sample.genus_specie }}</td>
                        <td>{{ sample.active }}</td>
                        <td>{{ sample.status }}</td>
                        <td>{{ sample.created_at }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
         </table>
        </font>
{#        {% if sample %}#}
{#            <h4>{{ sample.name }}</h4> <br>#}
{#            <table style="border-spacing: 0; border-width: 0; padding: 0; border-width: 0;">#}
{#                {{ sample.sample_type }}#}
{##}
{#            </table>#}
{#        {% endif %}#}

      </div>

      <div class="col-3">

      </div>
    </div>





{% endblock%}