{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap %}


{% block content %}
    <div class="row">
      <div class="col-2">
      <h5>Search Samples</h5>
          <fieldset class="form-group" style="padding: 20px 20px 20px 20px">
            <form method="GET">
                {{ filter.form | bootstrap }}
                <button class="btn btn-info btn-block" type="submit">
                    <i class="fas fa-search" ></i> Search
                </button>
            </form>
          </fieldset>

            <!-- Modal button to add sample -->
            <div align="right">
            <button type="button" class="btn btn-info" style="float:right" data-toggle="modal" data-target="#add_sample"> <i class="fas fa-plus-circle"></i> Add sample </button>
            </div>
            <div class="modal fade" id="add_sample" tabindex="-1" role="dialog" aria-labelledby="add_sampleLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="add_sampleLabel">Add Sample</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                    <!-- Add samples modal page -->
                    <div class="modal-body">
                        <div role="tabpanel">
                        <!-- Tab list to add samples -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation" ><a class="nav-link active" href="#add_sampleTab" aria-controls="add_sampleTab" role="tab" data-toggle="tab">Add Sample Form</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#file_sampleTab" aria-controls="file_sampleTab" role="tab" data-toggle="tab">Add Sample File</a></li>
                        </ul><br>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="add_sampleTab">
                                <!-- Add samples using a form -->
                                <form id="form_add_sample" method="post" enctype="multipart/form-data">{% csrf_token %}
                                {{ form_sample | bootstrap }}<br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" name="submit_add_sample" action="{% url 'db:sample_add' %}" class="btn btn-info">Add</button>
                                </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="file_sampleTab">
                                <!-- Add samples using a form -->
                                <form id="form_submit_file" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="form-row align-items-center"><br><br>
                                    <div class="col-auto"></div>
                                    <div class="col">
                                        <input type="file" class="form-control-file border" name="upload_file_samples">
                                    </div>
                                    <div class="col-auto"></div>
                                </div><br>
                                <div class="modal-footer">
                                    <a class="btn btn-secondary mr-auto" href="{% static 'docs/import_sample_file.csv' %}" target="_blank" download> Sample File </a>
                                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                                    <button type="submit" name="submit_file_samples" action="{% url 'db:sample_file_add' %}" class="btn btn-info">Add</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </div>

      <div class="col-10">
        <div align="right">
          <a href="{% url 'db:sample_export' %}" class="btn btn-info"> <i class="fas fa-file-export"></i> Export data </a>
        </div>
          <font size="2">
          <!-- Details of samples in inventory -->
          {% if sample %}
            <div class="info" style="margin: 10px 0px 10px 0px" >
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ sample.name }} ({{ sample.alias }}) <br>
                    {{ sample.sequence }}
                    {% if wells %}
                        <p> Location:
                        {% for well in wells %}
                            <a class="btn btn-info-out btn-sm" href="{% url 'db:well' well.plate.id well.id %}"> {{ well.plate.name }}: {{ well.name }}</a>
                        {% endfor %}
                        </p>
                    {% else %}
                        <p>no inventory</p>
                    {% endif %}
                <div class="btn-group" align="left">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletesample"> <i class="fas fa-trash-alt"></i> Delete </button>
                </div>
                <div class="btn-group" align="left">
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#update_sample"> <i class="fas fa-edit"></i> Update </button>
                </div>
            </div>
            </font>
                    <!-- Modal button to delete sample -->
                    <div class="modal fade" id="deletesample" tabindex="-1" role="dialog" aria-labelledby="delete_sampleLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="delete_sampleLabel">Delete Sample</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <h6>Are you sure to delete {{ sample.name }} ?</h6>
                              {% if wells %}
                                  <h6>
                                  {{ wells.count }} well(s) will be delete
                                  </h6>
                              {% endif %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form method="POST" action="{% url 'db:sample_delete' sample.id %}">{% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal button to update sample -->
                    <div class="modal fade" id="update_sample" tabindex="-1" role="dialog" aria-labelledby="update_sampleLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="update_sampleLabel">Update Sample: {{ sample.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form id="form_edit_sample" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ form_sample_update | bootstrap }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" name= "submit_update_sample" action="{% url 'db:sample_update' sample.id %}" class="btn btn-warning">Update</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
          {% endif %}

         <!-- Table list of samples -->
         <font size="2">
         {{ form_sample.errors }}
         <table id="sample_list_table" class="table table-hover table-striped table-sm cell-border" cellspacing="0" width="100%">
              <thead>
                <tr class="table-dark text-dark">
                <th class="th-sm">Name</th>
                <th class="th-sm">Alias</th>
                <th class="th-sm">Type</th>
                <th class="th-sm">Description</th>
                <th class="th-sm">Project</th>
                <th class="th-sm">Author</th>
                <th class="th-sm">Length</th>
                <th class="th-sm">Genbank</th>
                <th class="th-sm">Reference</th>
                <th class="th-sm">Comments</th>
                <th class="th-sm">Parent</th>
                <th class="th-sm">Organism</th>
                <th class="th-sm">Specie</th>
                <th class="th-sm">Marker</th>
                <th class="th-sm">Application</th>
                <th class="th-sm">Strategy</th>
                <th class="th-sm">Seq_verif</th>
                <th class="th-sm">Origin</th>
                <th class="th-sm">Cloning_system</th>
                <th class="th-sm">Strand</th>
                <th class="th-sm">Order_number</th>
                <th class="th-sm">Part_type</th>
                <th class="th-sm">Moclo_type</th>
                <th class="th-sm">Sub_samples</th>
                <th class="th-sm">Primers</th>
                <th class="th-sm">End</th>
                <th class="th-sm">Direction</th>
                <th class="th-sm">TM</th>
                <th class="th-sm">Active</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Created</th>
                <th class="th-sm">Updated</th>
                </tr>
              </thead>
              <tbody>
                  {% for sample in filter.qs %}
                    <tr>
                        <td>
                            <a href="{% url 'db:sample' sample.id %}" > {{ sample.name }} </a>
                        </td>
                        <td>{{ sample.alias }}</td>
                        <td>{{ sample.sample_type }}</td>
                        <td>{{ sample.description }}</td>
                        <td>
                            {% for project in sample.project.all %}
                                {{ project }}
                            {% endfor %}
                        </td>
                        <td>{{ sample.author }}</td>
                        <td>{% if sample.length is not None %} {{ sample.length }} {% endif %}</td>
                        {% if sample.genbank %}
                            <td><a href="{{ sample.genbank.url }}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;" target="_blank">File</a></td>
                        {% else %} <td> {{ sample.genbank }} </td>
                        {% endif %}
                        <td>{{ sample.source_reference }}</td>
                        <td>{{ sample.comments }}</td>
                        <td>{% if sample.parent_id is not None %}
                            <a href="{% url 'db:sample' sample.parent_id.id %}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;"> {{ sample.parent_id }}</a>
                            {% endif %}</td>
                        <td>{{ sample.organism }}</td>
                        <td>{{ sample.genus_specie }}</td>
                        <td>{{ sample.marker }}</td>
                        <td>{{ sample.application }}</td>
                        <td>{{ sample.strategy }}</td>
                        {% if sample.seq_verified %}
                        <td><a href="{{ sample.seq_verified.url }}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;" target="_blank"> File </a></td>
                        {% else %} <td>{{ sample.seq_verified }}</td>
                        {% endif %}
                        <td>{{ sample.origin_rep }}</td>
                        <td>{{ sample.cloning_system }}</td>
                        <td>{{ sample.strand }}</td>
                        <td>{{ sample.order_number }}</td>
                        <td>{{ sample.part_type }}</td>
                        <td>{{ sample.moclo_type }}</td>
                        <td>
                            {% for sample in sample.sub_sample_id.all %}
                                <a href="{% url 'db:sample' sample.id %}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;"> {{ sample }}</a>
                            {% endfor %}
                        </td>
                        <td>
                            {% for primer in sample.primer_id.all %}
                                <a href="{% url 'db:sample' primer.id %}" style="font-size: 12px;" class="btn btn-outline-secondary btn-sm m-0;"> {{ primer }}</a>
                            {% endfor %}
                        </td>
                        <td>{{ sample.end }}</td>
                        <td>{{ sample.direction }}</td>
                        <td>{% if sample.tm is not None %}{{ sample.tm }}{% endif %}</td>
                        <td>{{ sample.active }}</td>
                        <td>{{ sample.status }}</td>
                        <td>{{ sample.created_at }}</td>
                        <td>{{ sample.updated_at }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
         </table>

         </font>
      </div>
    </div>

      <script type="text/javascript">
        $('#sample_list_table').DataTable({
            columnDefs: [{ targets: -1, className: 't-body-center'}],
            "scrollX": true,
            searching: false,
            lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "All"]],
        });

        $('.dataTables_length').addClass('bs-select');
      </script>

{% endblock%}

