{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="row">
      <div class="col-3">
      </div>

      <div class="col-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <img src="{% static "images/carroussel_1.png" %}" alt="Map" style="width:auto;height:500px";>
            </div>

{#            <div class="carousel-item" align="center">#}
{#                <img src="{% static "images/carroussel_2.png" %}" alt="equip" style="width:auto;height:500px";>#}
{#            </div>#}
{##}
{#            <div class="carousel-item" align="center">#}
{#                <img src="{% static "images/under_construction.png" %}" alt="under" style="width:auto;height:500px";>#}
{#            </div>#}
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="fa fa-angle-left" style="color: #333333;font-size:30px"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="fa fa-angle-right" style="color: #333333;font-size:30px"></span>
        </a>
      </div>
    </div>


      <div class="col-3">
      </div>
    </div>
{% endblock%}