{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body>

<div class="header">
    <div class="image"></div><div class="text"><h1 style="font-size:2vw;"> Genome Foundry - Web Tools </h1></div>
</div>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/spotting/">Spotting</a>
  <a href="/normalization/">Normalization</a>
  <a href="/combinatorial/">Combinatorial</a>
  <a href="/primer/">Primer</a>
  <a href="/moclo/">MoClo</a>
  <a href="/about/">About</a>

  <div class="login-container">
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
  </div>
</div>


{% block content %}
{% endblock %}

<div class="row">
    <div class="footer">
      <h4><a href="https://www.concordia.ca/research/casb/genome-foundry.html">Concordia Genome Foundry</a></h4>
    </div>
</div>

</body>
</html>