{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{% static 'css/smart_wizard.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/smart_wizard_theme_arrows.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fh-3.1.4/kt-2.5.0/r-2.2.2/rr-1.2.4/sl-1.3.0/datatables.min.css"/>

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.twbsPagination.min.js' %}"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fh-3.1.4/kt-2.5.0/r-2.2.2/rr-1.2.4/sl-1.3.0/datatables.min.js"></script>
</head>


<body>

<div class="jumbotron " style="margin-bottom:0">
    <img src="{% static "images/foundry_logo.jpg" %}" class="img-responsive" style="display: inline-block">
    <h1 style="display: inline-block ">Genome Foundry: LIMS and Tools </h1>
</div>

{% if user.is_authenticated  %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}"> <i class="fas fa-home" style="font-size:25px; color:white;" &nbsp;&nbsp;></i></a>

    <!-- Toggler/collapsibe Button -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-vial" style="font-size:15px; color:white;"></i> &nbsp;Scripts</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'scripts:spotting' %}">Spotting</a></li>
                    <li><a class="dropdown-item" href="{% url 'scripts:moclo' %}">Moclo</a></li>
                    <li><a class="dropdown-item" href="{% url 'scripts:combinatorial' %}">Combinatorial</a></li>
                    <li><a class="dropdown-item" href="{% url 'scripts:moclodb' %}">Moclo DB</a></li>
                    <li><a class="dropdown-item" href="{% url 'scripts:pcrdb' %}">PCR DB</a></li>
{#                    <a class="dropdown-item" href="{% url 'scripts:assembly' %}">Assembly</a>#}
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-dna" style="font-size:15px; color:white;"></i> &nbsp;Workflow</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'design:design_view' %}">Experiment</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-database" style="font-size:15px; color:white;"></i>&nbsp; Database</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'db:index' %}">Inventory</a></li>
                    <li><a class="dropdown-item" href="{% url 'db:samples_list' %}">View Sample</a></li>
                    <li><a class="dropdown-item" href="{% url 'db:file_sharing' %}">File sharing</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-tools" style="font-size:15px; color:white;"></i>&nbsp; Extras</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'misc:genbank' %}">GB Files</a></li>
                    <li><a class="dropdown-item" href="{% url 'misc:primer' %}">Primer</a></li>
                    <li><a class="dropdown-item" href="{% url 'misc:normalization' %}">Normalization</a></li>
                    <li><a class="dropdown-item" href="{% url 'misc:nrc_sequence' %}">NRC sequence</a></li>
                    <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-tools" style="font-size:15px; color:white;"></i>&nbsp; Extras</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'misc:genbank' %}">GB Files</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="navbar-nav">
                <a class="nav-link" href="{% url 'about' %}">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-info-circle" style="font-size:15px; color:white;"></i>&nbsp; About</a> </li>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-nav">
                <a class="nav-link" href= "{% url 'accounts:profile' %}">
                <i class="fas fa-user" style="font-size:15px; color:white;"></i>&nbsp;&nbsp;{{request.user.username}}</a> </li>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fa fa-cog fa-fw fa-lg" style="font-size:15px; color:white;"></i> </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Create new user</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:news' %}">Report news</a></li>
                </ul>
            </li>


            <li class="navbar-nav">
                &nbsp;&nbsp;&nbsp;&nbsp;<form class="form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
        {% else %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'home' %}"> <i class="fas fa-home" style="font-size:25px; color:white;" &nbsp;&nbsp;></i></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">

                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-vial" style="font-size:15px; color:white;"></i> &nbsp;Scripts</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'scripts:spotting' %}">Spotting</a></li>
                                <li><a class="dropdown-item" href="{% url 'scripts:moclo' %}">Moclo</a></li>
                                <li><a class="dropdown-item" href="{% url 'scripts:combinatorial' %}">Combinatorial</a></li>
                                <li><a class="dropdown-item" href="{% url 'scripts:assembly' %}">Assembly</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-tools" style="font-size:15px; color:white;"></i>&nbsp; Extras</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'misc:genbank' %}">GB Files</a></li>
                                <li><a class="dropdown-item" href="{% url 'misc:primer' %}">Primer</a></li>
                                <li><a class="dropdown-item" href="{% url 'misc:normalization' %}">Normalization</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                        <li class="dropdown order-1">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2">
                               <li><form class="form" action= {% url 'login' %} method="post"> {% csrf_token %}
                                   <div class="container">
                                    <form class="form-group">
                                        <div class="form-group">
                                            <input class="form-control" name="username" id="username" type="text" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="password" id="password" type="password" placeholder="Password">
                                        </div>

                                        <button type="submit" id="btnLogin" class="btn btn-success btn-block">Login</button>
                                        <br><a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a>
                                    </form>
                                   </div>
                               </form></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>

        {% endif %}

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>

<div class="footer">
    <h6><a href="https://www.concordia.ca/research/genome-foundry.html" target="_blank">Concordia Genome Foundry</a></h6>
</div>

</body>
</html>