{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}


    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
          <div class="bigcard" align="middle">
            <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=dGVhbS5jb25jb3JkaWFnZkBnbWFpbC5jb20&amp;color=%23039BE5&amp;mode=WEEK&amp;showTitle=0&amp;title" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>

          <p align="middle">Contact: <a href="mailto:genomefoundry@concordia.ca">genomefoundry@concordia.ca</a></p>

      </div>

      <div class="col-3">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}