{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}


    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
          <div class="bigcard">
            <iframe align="middle" src="https://calendar.google.com/calendar/embed?src=team.concordiagf%40gmail.com&ctz=America%2FToronto" style="border: 0"  width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
      </div>

      <div class="col-3">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}