{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2>Options</h2>
        <div class="options">

            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
              <fieldset>

                Select a file with DNA parts to combine: <br><br>
                <input type="file" name="myFile"><br><br>

                <br><br>
                <input type="submit" value="Submit">
              </fieldset>
            </form>

            <br><br>
            {% if url %}
            <fieldset>
                Uploaded file: <a href="{{ url }}" target="_blank" ><p>{{ uploadfile_name }}</p></a>
                <ol>
                {% for set in num_parts %}
                    <li>
                    {% for num in set %}
                        [ {{ num }} ]
                    {% endfor %}
                    </li>
                {% endfor %}
                </ol>

                {% if outfile_name %}
                    <br><br>
                    Output file: <a href="{{ outfile_url }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
                    <ol>
                    {% for num in num_combin %}
                        <li>{{ num }} Combinations</li>
                    {% endfor %}
                    </ol>



                {% endif %}
            </fieldset>
            {% endif %}
        </div>
      </div>

      <div class="column middle">
        <h2>Combinatorial Script</h2>
             </table>
             <br><p> Example of an input file to be normalized (<a href="{% static 'docs/parts.txt' %}" target="_blank" download><strong> Example.txt </strong></a>)</p>
             <p> Same type separate by: ','  and different type separate by: ';'. Don't use space between types.</p>
             <table>
                  <tr>
                    <td>Type1_A,Type1_B;Type2_A,Type2_B,Type2_C;Type8_A</td>
                   </tr>
                   <tr>
                    <td>Type1_C,Type1_D,Type1_E;Type2_A,Type2_B,Type2_C;Type8</td>
                   </tr>
                   <tr>
                    <td>Type1_A,Type1_B;Type2_F,Type2_G,Type2_H,Type2_I;Type678</td>
                   </tr>
             </table>
      </div>

      <div class="column side">
        <h2></h2>
        <p></p>
      </div>
    </div>
{% endblock%}