{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
          <div class="row">
              <div class="card-deck" >
                  <div class="card-body text-center">
                        <a href= "http://{{ domain }}:8080/" target="_blank"> <img class="img-fluid" src="{% static 'images/foundry_small_logo.png' %}"/> </a>
                        <h5> BioFoundry </h5>
                  </div>
                  <div class="card-body text-center">
                        <a href="https://www.aquarium.bio/" target="_blank"> <img class="img-fluid" src="{% static 'images/aquarium-logo.png' %}" /> </a>
                        <h5> Aquarium LIMS </h5>
                  </div>
                  <div class="card-body text-center">
                        <a href="http://54.190.2.203/" target="_blank"> <img class="img-fluid" src="{% static 'images/damplab_logo.png' %}" /> </a>
                        <h5> Damp Lab LIMS </h5>
                    </div>
                  <div class="card-body text-center">
                        <a href="https://github.com/frba/" target="_blank"> <img class="img-fluid" src="{% static 'images/github_logo.png' %}" /> </a>
                        <h5> Github </h5>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="card-deck">
                <div class="card-body text-center">
                  <a href="https://edinburgh-genome-foundry.github.io/" target="_blank"> <img class="img-fluid" src="{% static 'images/egf_logo.png' %}" /> </a>
                  <h5> EGF Foundry </h5>
                </div>
                <div class="card-body text-center">
                  <a href="https://bookings.fungalgenomics.ca/Web/index.php?redirect=%2FWeb%2Fdashboard.php%3F" target="_blank"> <img class="img-fluid" src="{% static 'images/concordia_genomics_logo.png' %}" /> </a>
                  <h5> Concordia Genomics </h5>
                </div>
                <div class="card-body text-center">
                  <a href="https://asana.com/" target="_blank"> <img class="img-fluid" src="{% static 'images/asana-logo.png' %}" /> </a>
                  <h5> Asana </h5>
                </div>

                <div class="card-body text-center">
                  <a href="https://jimmyper.github.io/" target="_blank"> <img class="img-fluid" src="{% static 'images/synbiosun.png' %}" /> </a>
                  <h5> SynbioSun </h5>
                </div>
              </div>
          </div>
      </div>

      <div class="col-3">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}