{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

    <div class="row">
      <div class="col-2">
        <h2></h2>
      </div>

      <div class="col-8">
          <div class="row">
                <div class="card-body text-center">
                  <a href="{% url 'logbook:index' %}"> <img class="img-fluid" src="{% static 'images/foundry_logbook.png' %}" /> </a>
                  <h5> Instrument Log Books </h5>
                </div>

                <div class="card-body text-center">
                  <a href="https://bookings.fungalgenomics.ca/Web/index.php?redirect=%2FWeb%2Fdashboard.php%3F"> <img class="img-fluid" src="{% static 'images/foundry_schedule.png' %}" /> </a>
                  <h5> Instrument Reservations </h5>
                </div>

                <div class="card-body text-center">
                  <a href="{% url 'under' %}"> <img class="img-fluid" src="{% static 'images/empty_img.png' %}" /> </a>
                  <h5> Workflows, SOPs, and Protocols </h5>
                </div>

                <div class="card-body text-center">
                  <a href="{% url 'calendar' %}"> <img class="img-fluid" src="{% static 'images/calendar.png' %}" /> </a>
                  <h5> Coordinator Scheduling </h5>
                </div>

                 <div class="card-body text-center">
                  <a href="{% url 'accounts:viewnews' %}"> <img class="img-fluid" src="{% static 'images/news.png' %}" /> </a>
                  <h5> News </h5>
                </div>

{#                <div class="card-body text-center">#}
{#                  <a href="https://jimmyper.github.io/" target="_blank"> <img class="img-fluid" src="{% static 'images/synbiosun.png' %}" /> </a>#}
{#                  <h5> SynbioSun </h5>#}
{#                </div>#}
              </div>

          </div>

          <div class="row">
{#              <div class="card-deck" >#}
{#                  <div class="card-body text-center">#}
{#                        <a href= "http://{{ domain }}:8080/" target="_blank"> <img class="img-fluid" src="{% static 'images/foundry_small_logo.png' %}"/> </a>#}
{#                        <h5> BioFoundry </h5>#}
{#                  </div>#}
{#                  <div class="card-body text-center">#}
{#                        <a href="https://www.aquarium.bio/" target="_blank"> <img class="img-fluid" src="{% static 'images/aquarium-logo.png' %}" /> </a>#}
{#                        <h5> Aquarium LIMS </h5>#}
{#                  </div>#}
{#                  <div class="card-body text-center">#}
{#                        <a href="http://54.190.2.203/" target="_blank"> <img class="img-fluid" src="{% static 'images/damplab_logo.png' %}" /> </a>#}
{#                        <h5> Damp Lab LIMS </h5>#}
{#                    </div>#}
{#                  <div class="card-body text-center">#}
{#                        <a href="https://github.com/frba/" target="_blank"> <img class="img-fluid" src="{% static 'images/github_logo.png' %}" /> </a>#}
{#                        <h5> Github </h5>#}
{#                  </div>#}
{#                  <div class="card-body text-center">#}
{#                        <a href="https://edinburgh-genome-foundry.github.io/" target="_blank"> <img class="img-fluid" src="{% static 'images/egf_logo.png' %}" /> </a>#}
{#                        <h5> EGF Foundry </h5>#}
{#                  </div>#}
{#              </div>#}
          </div>
      </div>

      <div class="col-2">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}