{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2></h2>
      </div>

      <div class="column middle">
          <div class="row">
              <div class="column">
              <div class="card">
                  <a href= "{{request.META.SERVER_NAME}}:8080" target="_blank"> <img src="{% static 'images/foundry_small_logo.png' %}" width="150px"/> </a>
                  <h4> BioFoundry </h4>
              </div>
              </div>
              <div class="column">
              <div class="card">
                  <a href="https://www.aquarium.bio/" target="_blank"> <img src="{% static 'images/aquarium-logo.png' %}" width="150px"/> </a>
                  <h4> Aquarium LIMS </h4>
              </div>
              </div>
              <div class="column">
              <div class="card">
                  <a href="http://54.190.2.203/" target="_blank"> <img src="{% static 'images/damplab_logo.png' %}" width="150px"/> </a>
                  <h4> Damp Lab LIMS </h4>
              </div>
              </div>
          </div>
            <div class="row">
              <div class="column">
              <div class="card">
                  <a href="https://edinburgh-genome-foundry.github.io/" target="_blank"> <img src="{% static 'images/egf_logo.png' %}" width="150px"/> </a>
                  <h4> EGF Foundry </h4>
              </div>
              </div>
              <div class="column">
              <div class="card">
                  <a href="https://github.com/frba/" target="_blank"> <img src="{% static 'images/github_logo.png' %}" width="150px"/> </a>
                  <h4> Github </h4>
              </div>
              </div>
              <div class="column">
              <div class="card">
                  <a href="https://asana.com/" target="_blank"> <img src="{% static 'images/asana-logo.png' %}" width="150px"/> </a>
                  <h4> Asana </h4>
              </div>
              </div>
            </div>
      </div>

      <div class="column side">
        <h2></h2>
      </div>
    </div>
{% endblock%}