{% extends 'base_layout.html' %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2>Options</h2>
        <div class="options">

            <form method="post"> {% csrf_token %}
              <fieldset>

                Select a file: <br><br>
                <input type="file" name="myFile"><br><br>

                Source Plate Wells:
                <select name="num_well">
                <option value="96">96 Wells</option>
                <option value="384">384 Wells</option>
                </select>
                <br><br>

                Destination Plate Wells:
                <select name="num_well">
                <option value="96">96 Wells</option>
                <option value="384">384 Wells</option>
                </select>
                <br><br>

                <br><br><br>
                <input type="submit" value="Submit">
              </fieldset>
            </form>


            <br><br>
            {% if outfile_name %}
            <fieldset>
                Created file:<a href="{{ abs_path }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
            </fieldset>
            {% endif %}


        </div>
      </div>

      <div class="column middle">
        <h2>Normalization Script - Not Finished</h2>
        <p> Example of an input file to be normalized </p><br>
            <table>
                <tr>
                    <th> Source Plate Name</th>
                    <th> Source Well </th>
                    <th> Destination Plate Name </th>
                    <th> Destination Well </th>
                    <th> Volume </th>
                </tr>
                <tr>
                    <th> Plate S1</th>
                    <th> A1 </th>
                    <th> Plate D1 </th>
                    <th> A1 </th>
                    <th> 4 </th>
                </tr>
                <tr>
                    <th> Plate S1</th>
                    <th> A2 </th>
                    <th> Plate D1 </th>
                    <th> A2 </th>
                    <th> 4 </th>
                </tr>
                <tr>
                    <th> Plate S1</th>
                    <th> A3 </th>
                    <th> Plate D1 </th>
                    <th> A3 </th>
                    <th> 4 </th>
                </tr>
            </table>
      </div>

        {% comment %}
        <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}