{% extends 'base_layout.html' %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2>Options</h2>
        <div class="options">

            <form method="post"> {% csrf_token %}
              <fieldset>
                <br>
                Number of Source Plate:
                <select name="num_sources">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                </select>
                <br><br>
                Source Plate Wells:
                <select name="num_well">
                <option value="96">96 Wells</option>
                <option value="384">384 Wells</option>
                </select>
                <br><br>
                Number of spotting:
                <select name="num_pattern">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                </select>
                <select name="pattern">
                <option value="0">by row</option>
                <option value="1">by column</option>
                </select>
                <br><br><br>
                <input type="submit" value="Submit">
              </fieldset>
            </form>

{#            {% block results %}#}
            <br><br>
            <fieldset>
                Created file:<a href="{{ abs_path }}" download> <p>{{ outfile_name }}</p> </a>
            </fieldset>
{#            {% endblock %}#}

        </div>
      </div>

      <div class="column middle">
        <h2>Normalization Script</h2>
        <p> Script description here...</p>
      </div>

        {% comment %}
        <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}