{% extends 'base_layout.html' %}

{% block content %}
    <div class="row">
      <div class="column side">

        <h2>Options</h2>

        <div class="options">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
              <fieldset>
                Select a file: <br><br>
                <input type="file" name="myFile"><br><br>
                <input type="submit" value="Submit"></input>
              </fieldset>
            </form>


            <br><br>

            {% if url %}
            <fieldset>
                Uploaded file: <a href="{{ url }}" target="_blank" ><p>{{ uploadfile_name }}</p></a>

                {% if outfile_name %}
                    <br><br>
                    Output file: <a href="{{ abs_path }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
                {% endif %}

            </fieldset>
            {% endif %}


        </div>
      </div>

      <div class="column middle">
        <h2>Primer Script</h2>
        <p> Script uses Primer3 package to create the forward and reverse primers.</p>
      </div>

        {% comment %}
        <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}

<script>
function myFunction() {
  var x = document.getElementById("myFile").value;
  document.getElementById("demo").innerHTML = x;
}
</script>