{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
    <div class="row">
      <div class="column side">

        <h2>Options</h2>

        <div class="options">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
              <fieldset>
                Select a file: <br><br>
                <input type="file" name="myFile"><br><br><br>
                Start position:<br>
                Foward Primer: <input type="text" name="start_prime" value="0" style="width:80px"><br>
                Reverse Primer: <input type="text" name="end_prime" value="length" style="width:80px"><br>
                <input type="submit" value="Submit">
              </fieldset>
            </form>


            <br><br>

            {% if url %}
            <fieldset>
                Uploaded file: <a href="{{ url }}" target="_blank" ><p>{{ uploadfile_name }}</p></a>

                {% if outfile_name %}
                    <br><br>
                    Output file: <a href="{{ outfile_url }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
                {% endif %}

            </fieldset>
            {% endif %}


        </div>
      </div>

      <div class="column middle">
        <h2>Primer Script</h2>
        <p> Example of an input fasta file (<a href="{% static 'docs/seq.fasta' %}" target="_blank" download><strong> Example file.fasta </strong></a>)</p>
        <p> Script uses Primer3 package to create the forward and reverse primers. </p>

        <h4> Input File: </h4>
        <p align="justify">HSGLTH1 Human theta 1-globin gene<br>
        <strong>CCACTGCACTCACCGCA</strong>CCCGGCCAATTTTTGTGTTTTTAGTAGAGACTAAATACCATATAGTGAACACCTAAGA
        CGGGGGGCCTTGGATCCAGGGCGATTCAGAGGGCCCCGGTCGGAGCTGTCGGAGATTGAGCGCGCGCGGTCCCGG
        GATCTCCGACGAGGCCCTGGACCCCCGGGCGGCGAAGCTGCGGCGCGGCGCCCCCTGGAGGCCGCGGGACCCCTG
        GCCGGTCCGCGCAGGCGCAGCGGGGTCGCAGGGCGCGGCGGGTTCCAGCGCGGGGATGGCGCTGTCCGCGGAGGA
        CCGGGCGCTGGTGCGCGCCCTGTGGAAGAAGCTGGGCAGCAACGTCGGCGTCTACACGACAGAGGCCCTGGAAAG
        GTGCGGCAGGCTGGGCGCCCCCGCCCCCAGGGGCCCTCCCTCCCCAAGCCCCCCGGACGCGCCTCACCCACGTTC
        CTCTCGCAGGACCTTCCTGGCTTTCCCCGCCACGAAGACCTACTTCTCCCACCTGGACCTGAGCCCCGGCTCCTC
        ACAAGTCAGAGCCCACGGCCAGAAGGTGGCGGACGCGCTGAGCCTCGCCGTGGAGCGCCTGGACGACCTACCCCA
        CGCGCTGTCCGCGCTGAGCCACCTGCACGCGTGCCAGCTGCGAGTGGACCCGGCCAGCTTCCAGGTGAGCGGCTG
        CCGTGCTGGGCCCCTGTCCCCGGGAGGGCCCCGGCGGGGTGGGTGCGGGGGGCGTGCGGGGCGGGTGCAGGCGAG
        TGAGCCTTGAGCGCTCGCCGCAGCTCCTGGGCCACTGCCTGCTGGTAACCCTCGCCCGGCACTACCCCGGAGACT
        TCAGCCCCGCGCTGCAGGCGTCGCTGGACAAGTTCCTGAGCCACGTTATCTCGGCGCTGGTTTCCGAGTACCGCT
        GAACTGTGGGTGGGTGGCCGCGGGATCCCCAGGCGACCTTCCCCGTGTTTGAGTAAAGCCTCTCCCAGGAGCAGC<br>
        CTTCTTGCCGTGCTCTCTCGAGGTCAGGA<strong>CGCGAGAGGAAGGCGC</strong></p>
        <br><br><br>
        <h4> Output File: </h4>
        <h5>
        <table>
          <tr>
            <th>GeneID</th>
            <th>UpstreamPrimerSequence</th>
            <th>DownstreamPrimerSequence</th>
            <th>UpstreamPrimerLength</th>
            <th>DownstreamPrimerLength</th>
            <th>ProductLength</th>
          </tr>
          <tr>
            <td>HSGLTH1</td>
            <td>CCACTGCACTCACCGCA</td>
            <td>GCGCCTTCCTCTCGCG</td>
            <td>17</td>
            <td>16</td>
            <td>1020</td>
          </tr>
        </table>
        </h5>

      </div>

        {% comment %}
        <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}

