{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}


    <div class="row">
      <div class="col-3">
        <h2></h2>
      </div>

      <div class="col-6">
          <div class="bigcard">
              <a href="https://bookings.fungalgenomics.ca/Web/export/ical-subscribe.php?uid=5a26e6ee2d081&sid=&rid=&icskey=Pq8qv0ml9wZRgi5wKSCK">
{#            <iframe align="middle" src="https://bookings.fungalgenomics.ca/Web/export/ical-subscribe.php?uid=5a26e6ee2d081&sid=&rid=&icskey=Pq8qv0ml9wZRgi5wKSCK" style="border: 0"  width="800" height="600" frameborder="0" scrolling="no"></iframe>#}
          </div>
      </div>

      <div class="col-3">
        <h2>
        </h2>
      </div>

    </div>

{% endblock%}