{% extends 'base_layout.html' %}


{% block content %}

<div class="row">
    <div class="col-3">
    <h2>Options</h2>
        <div class="options">
            <form method="post"> {% csrf_token %}
              <fieldset class="form-group">
                  <br>
                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_sources">Number of Source Plate:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_sources" name="num_sources">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_well">Source Plate Wells:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_well" name="num_well">
                            <option value="96">96 Wells</option>
                            <option value="384">384 Wells</option>
                        </select>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="num_pattern">Number of spotting:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="num_pattern" name="num_pattern">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="num_pattern">Mode:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="pattern" name="pattern">
                            <option value="0">by row</option>
                            <option value="1">by column</option>
                            <option selected value="2">Biomek</option >
                        </select>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <br><br>
                <input type="submit" class="btn btn-info btn-block" value="Submit">

              </fieldset>
            </form>
        </div>
    </div>

    <br><br>

      <div class="col-6">
        <h2>Spotting Script</h2>
          {% if alert %}
              <div class="alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ alert }}
            </div>
          {% endif %}


        <p> Creates CSV files to be used on biomek</p><br>
            <table>
                <tr>
                    <th> Source Plate Name</th>
                    <th> Source Well </th>
                    <th> Destination Plate Name </th>
                    <th> Destination Well </th>
                    <th> Volume </th>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A1 </td>
                    <td> Plate D1 </td>
                    <td> A1 </td>
                    <td> 4 </td>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A2 </td>
                    <td> Plate D1 </td>
                    <td> A2 </td>
                    <td> 4 </td>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A3 </td>
                    <td> Plate D1 </td>
                    <td> A3 </td>
                    <td> 4 </td>
                </tr>
            </table>
      </div>


        <div class="col-3">
            {% if worklist_name %}
                <h2>Output </h2>
                <br>
                <fieldset class="form-group">
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col" >
                            <label for="outputfile">File:</label>
                        </div>
                         <div class="col" align="left">
                             <label for="outputfile"><a href="{{ outfile_url }}" target="_blank" download> <strong> {{ outfile_name }} </strong> </a></label>
                        </div>
                        <br><br>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col" >
                            <label for="worklist">Worklist:</label>
                        </div>
                        <div class="col" align="left">
                            <a href="{{ outfileworklist_url }}" target="_blank" download> <strong> {{ worklist_name }} </strong> </a>
                        </div>
                        <div class="col-auto"></div>
                        <br><br>
                    </div>
                </fieldset>

            {% elif outfile_name %}
                <h2>Output </h2>
                <fieldset class="form-group">
                    <br><br>
                    <div class="col-auto"></div>
                    <div class="col">
                        <label for="outputfile">File:</label>
                    </div>
                    <div class="col">
                        <label for="outputfile"><a href="{{ outfile_url }}" target="_blank" download> <strong> Download </strong> </a></label>
                    </div>
                    <div class="col-auto"></div>
                    <br><br>
                </fieldset>
            {% endif %}
        </div>

    </div>
{% endblock%}