{% extends 'base_layout.html' %}


{% block content %}
    <div class="row">
      <div class="column side">
        <h2>Options</h2>
        <div class="options">

            <form method="post"> {% csrf_token %}
              <fieldset>
                <br>
                Number of Source Plate:
                <select name="num_sources">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                </select>
                <br><br>
                Source Plate Wells:
                <select name="num_well">
                <option value="96">96 Wells</option>
                <option value="384">384 Wells</option>
                </select>
                <br><br>
                Number of spotting:
                <select name="num_pattern">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                </select>
                <select name="pattern">
                <option value="0">by row</option>
                <option value="1">by column</option>
                </select>
                <br><br><br>
                <input type="submit" value="Submit">
              </fieldset>
            </form>


            <br><br>
            {% if outfile_name %}
            <fieldset>
                Output file: <a href="{{ abs_path }}" target="_blank" download> <p>{{ outfile_name }}</p> </a>
            </fieldset>
            {% endif %}

        </div>
      </div>

      <div class="column middle">
        <h2>Spoting Script</h2>
        <p> Creates CSV files to be used on biomek</p><br>
            <table>
                <tr>
                    <th> Source Plate Name</th>
                    <th> Source Well </th>
                    <th> Destination Plate Name </th>
                    <th> Destination Well </th>
                    <th> Volume </th>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A1 </td>
                    <td> Plate D1 </td>
                    <td> A1 </td>
                    <td> 4 </td>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A2 </td>
                    <td> Plate D1 </td>
                    <td> A2 </td>
                    <td> 4 </td>
                </tr>
                <tr>
                    <td> Plate S1</td>
                    <td> A3 </td>
                    <td> Plate D1 </td>
                    <td> A3 </td>
                    <td> 4 </td>
                </tr>
            </table>

      </div>

        {% comment %}
        <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        {% endcomment %}
    </div>
{% endblock%}