{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2></h2>
      </div>

      <div class="column middle">
        <div class="row">
            <div class="column">
                <div class="bigcard">
                <img src="{% static 'images/under_construction.png' %}"/>
                </div>
            </div>
        </div>
      </div>

      <div class="column side">
        <h2></h2>
      </div>
    </div>
{% endblock%}