{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
      <div class="column side">
        <h2></h2>
        <p></p>
      </div>

      <div class="column middle">
        <div class="row">
            <div class="column">
              <div class="card">

              </div>
            </div>
            <div class="column">
                <p> Under Construction </p>
                <img src="{% static 'images/under_construction.png' %}" width="600px"/>

            </div>
            <div class="column">
              <div class="card">

              </div>
            </div>
        </div>


      </div>

      <div class="column side">
        <h2></h2>
        <p></p>
      </div>
    </div>
{% endblock%}